.idea/
ASV_Schnittstelle/logs
ASV_Schnittstelle/Testdaten
ASV_Schnittstelle/target
ASV_Schnittstelle/ASV_Schnittstelle.iml
OpenSchoolPlatform.iml
Postgres/
logs/
start_postgres.bat.lnk
target/
temp/
/ASV_Schnittstelle/src/test/java/de/sp/ASVImporterTest.java
/ASV_Schnittstelle/src/main/resources/asvwertelisten/
