<div id="admin.user" style="height: 100%; display: flex; flex-direction: column">

    <ul class="nav nav-tabs" style="background-color: white">
        <li role="presentation" class="active"><a data-toggle="tab" href="#userAdministrationUsers"
                                                  id="userAdministrationUsersTab">
            <i class="fa fa-users fa-fw" aria-hidden="true"></i>
            <span class="menuitemtext">${ts.get("admin.useradministration.users")}</span></a></li>
        <li role="presentation"><a data-toggle="tab" href="#userAdministrationRoles"
                                   id="userAdministrationRolesTab">
            <i class="fa fa-id-badge fa-fw" aria-hidden="true"></i>
            <span class="menuitemtext">${ts.get("admin.useradministration.roles")}</span></a></li>
    </ul>

    <div class="tab-content" style="flex: 1">

        <!-- Users -->

        <div id="userAdministrationUsers" class="tab-pane fade active in" style="height: 100%">
            <div style="display: flex; height: 100%">
                <div style="padding: 5px; flex: 1">
                    <div id="adminUsersUserList" style="height: 100%"></div>
                </div>
                <div style="padding: 5px; flex: 1; display: flex; flex-direction: column">
                    <div id="adminUsersRoleList" style="flex: 2"></div>
                    <div class="panel panel-default"
                         style="margin: 10px 0 0 0; flex: 1; display: flex; flex-direction: column">
                        <div class="panel-heading">Berechtigungen des selektierten Benutzers:
                        </div>
                        <div class="panel-body" style="padding: 5px; flex: 1: overflow: auto">
                            <div id="UserAdministrationRoleDetails" style="width: 100%;
                             margin-bottom: 4px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Roles -->

        <div id="userAdministrationRoles" class="tab-pane fade" style="height: 100%">
            <div style="display: flex; height: 100%">
                <div style="padding: 5px; flex: 1; display: flex; flex-direction: column">
                    <div id="adminRolesRolesList" style="flex: 1"></div>
                    <div class="panel panel-default"
                         style="margin: 10px 0 0 0; display: flex; flex-direction: column">
                        <div class="panel-heading">Benutzer mit der oben selektierten Rolle:
                        </div>
                        <div class="panel-body" style="padding: 5px; flex: 1; overflow: auto">
                            <div id="UsersWithSelectedRole" style="width: 100%;
                         margin-bottom: 4px"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; height: 100%; flex: 1; padding: 5px">
                    <div id="adminRolesPermissionsList" style="width: 100%"></div>
                </div>
            </div>
        </div>

